.abt-me {
	color: white;
	border: 4px white solid;
	font-size: 40;
	margin-left: 20%;
	margin-right: 20%;
	padding: 20px;
	text-align: center;
	width: 60%
}
	
.spacer {
	height: 100px;
}
	
.links {
	color: white;
	border: 4px: white solid;
	font-size: 25;
	padding: 15px;
	text-align: center;
}

.home-head {
	color: white;
	font-size: 50;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
}

.featured-work-con {
	border: 5px white solid;
	color: white;
	font-size: 30px;
	padding: 5px;
	margin-left: 12%;
	text-align: center;
	width:75%;
}

.feat-image {
	width: 75%;
}

.image-desc {
	position: relative;
	z-index: 1;
}

.image-desc-txt-overlay {
	background-color: rgba(0,0,0,0.5);
	height: 85%;
	opacity: 0;
	position: absolute;
	top: 5%;
	left: 15%;
	transition: .5s ease;
	width: 70%;
}

.image-desc-txt {
	color:white;
	font-size: 18px;
	position: absolute;
	text-align: left;
}

.image-desc:hover .image-desc-txt-overlay {
	opacity: 1;
}

.image-desc:hover .feat-image {
	filter: blur(4px);
}


input[type=text], select {
		border: 2px solid #ccc;
		border-radius: 5px;
		box-sizing: border-box;
		display: block;
		margin: 8px 0;
		padding: 12px 20px;
		width: 100%;
}
	
input[type=submit] {
		background-color: #FF0000;
		border: none;
		border-radius: 25px;
		color: white;
		cursor: pointer;
		font-size: 30px;
		margin: auto;
		padding: 14px 20px;
		text-align: center;
		width: 100%;
}

input[type=submit]:hover {
		background-color: #BD3030;
	}
	
.form{
	background-image: rgba(255,0,0,0.5);
	border: 4px white solid;
	color: white;
	font-size: 30px;
	margin-left: 25%;
	margin-right: 25%;
	padding: 20px;
}

.section-head{
	color:white;
	font-size: 50px;
	text-align:center;
}

.works-table {
	background-color: red;
	border: 5px white solid;
	font-size: 25px;
}

.table-img {
	border: 2px white solid;
	display: inline-block;
	width: 50%;
}

.table-desc {
	color: white;
	display: inline-block;
	padding: 15px;
	position: relative;
	bottom: 50px;
	left: 100px;
	font-size: 20px;
	width: 30%;
}

.active-pg{
	filter: invert(100%);
}

.navbar{
}

.m-navbar{
	display:none;
}

.anchor{
	background-color: red;
	border: 2px solid white;
	font-size: 25px;
	margin: 35%;
	height: 10%;
	text-align: center;
	width = 20%;
}

@media only screen and (orientation:portrait) {
	.navbar{
		display: none;
	}
	
	.m-navbar{
		display: block;
		max-width: 100%;
	}
	
	.dropdown {
	}
	
	.dropdown-menu {
			background-color: red;
			border-style: 2px white solid;
			box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.5);
			display: none;
			font-size: 40px;
			min-width: 50px;
			padding: 10px 14px;
			position: absolute;
			z-index: 1;
	}
	
	.dropdown-menu:hover {
		display: block;
	}
	
	.dropdown:hover + .dropdown-menu {
			display: block;
	}
		
	.abt-me {
		color: white;
		border: 4px white solid;
		font-size: 20;
		margin-left: 20%;
		margin-right: 20%;
		padding: 20px;
		text-align: center;
		width: 60%
	}
	
	.table-img {
		border: 2px white solid;
		display: block;
		width: 100%;
	}	

	.table-desc {
		color: white;
		display:block;
		position: relative;
		top: 4px;
		left: 1px;
		text-align: center;
		font-size: 20px;
		width: 100%;
	}