.abt-me {
	color: white;
	font-size: 40;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
	width: 60%
}
	
.spacer {
	height: 100px;
}
	
.links {
	color: white;
	font-size: 25;
	text-align: center;
}

.home-head {
	color: white;
	font-size: 50;
	margin-left: 20%;
	margin-right: 20%;
	text-align: center;
}
	
	